<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@job.description) %>
</p>

<div class="text-center">
  <%= link_to "Upload Resume", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;" %>
</div>
