<footer>
    <div class="social">
        <%= fa_icon "facebook" %>
        <%= fa_icon "twitter" %>
        <%= fa_icon "weixin" %>
        <%= fa_icon "github" %>
    </div>
    <p class="text-center">Job Listing © designed by <a href="http://zion.logdown.com">Zion</a></p>
</footer>
